* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: whitesmoke;
  
}

h2 {
  padding: 10px;
}

.text1 {
  padding-left: 20px;
}

.hero-banner { 
  height: 400px;
  background-position-x: right;
  margin-top: 3px;
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  background-size: auto;
  height: 80px;
}

.page-section{
  margin-top: 20px;
  display: flex;
  font-size: large;
}
  


ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: white;

}
li {
  width: 150px;
  text-decoration: underline; 
  color: aqua;
}
.logo {
  font-size: 40px;
  color: black;
  background-color:rgb(14, 248, 248);
}

/*rgb(14, 248, 248)*/

.vertical-line{
  height: 100px;
  width: 10px;
  border-radius: 80px;
  background-color: rgb(19, 89, 89);


}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
