* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: whitesmoke;
  
}

.hero-banner { height: 400px;
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
  background-position-x: center;
  margin-top: 0px;
  

}
nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(15, 51, 50);
  background-size: auto;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: white;

}

li {
  width: 150px;
  text-decoration: none;
  border-bottom:aqua 5px solid;
  text-align: center;
  margin: 0px 6px 15px 7px ; 
  color: aqua;
}

.logo {
  font-size: 40px;
  background-color: rgb(14, 248, 248);
  margin-bottom: 15px;
  margin-top: 15px;
  width: 350px; 
  text-align: end;
  font-weight: bolder;
}

.subtitle {
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px;
}


p {
  margin: 0;
}
