* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: whitesmoke;
  
  }
  
.page-wrapper{
  

}

h2 {
  padding: 10px;
  font-size: xx-large;
}

.text1 {
  padding-left: 20px;
}

.hero-banner { 
  height: 400px;
  background-position-x: right;
  margin-top: 3px;
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  background-size: auto;
  height: 80px;
}

ul {
  display: flex; 
  justify-content: space-between;
  list-style: none;
  color: white;

}
li {
  width: 150px;
  text-decoration: underline; 
  color: aqua;
}
.logo {
  font-size: 40px;
  color: black;
  background-color:rgb(14, 248, 248);
}


.page-section{
  margin-top: 20px;
  display: flex;
  font-size: large;
}
  

.page-section2{
  display: flex;
  margin-top: 20px;
  margin-left: 8px;
}


.grid {
  display: grid;
  height: 1900px;
  grid-template-columns: 550px 550px 550px;
  grid-template-rows: 600px 600px;
  margin-left: 20;
  border:solid;
  
}
.gridcontainer{
  display: grid;
  height: 2000px;
  grid-template-columns: 800px 800px;
  grid-template-rows: 600px 600px 600px;
  margin-left: 20px;
  grid-template-areas: 
  
  "header header"
  "grid-2 grid-3"
  "grid-5 grid-6";
 
  grid-gap: 10px;
}


.Grid-element-1{ 
  background-image: url(/images/02-portfolio-4.jpg);
  background-size: cover;
  grid-area: header;
  border: solid;
  margin: 10px;
}

.Grid-element-2 {
  border: solid;
  margin: 10px;
  background-size: cover;
  background-image: url(../images/02-portfolio-1.jpg);
  grid-template-areas: grid-2;
}
.Grid-element-3 {
  border: solid;
  margin: 10px;
  background-size: cover;
  background-image: url(../images/02-portfolio-2.jpg);
  grid-template-areas: grid-3;
}

.Grid-element-4 {
  border: solid;
  margin: 10px;
  background-size: cover;
  background-image: url(../images/02-portfolio-3.jpg);
  grid-template-areas: grid-4;
}

.Grid-element-5 {
  border: solid;
  margin: 10px;
  background-size: cover;
  background-image: url(../images/02-portfolio-4.jpg);
  grid-template-areas: grid-5;
}


/*rgb(14, 248, 248)*/



.vertical-line{
  height: 120px;
  width: 4px;
  background-color: rgb(56, 63, 63);
  margin-left: 60px;
}

.vertical-line2{
  eight: 120px;
  width: 2px;
  background-color: rgb(56, 63, 63);
  margin-left: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
